* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

h1 span {
  font-weight: 100;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.kumpulan-kontak {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 500px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.atas {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.foto-profil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.bawah {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}
